/* nanoscrollbar */
.nano .pane   { background: #888; }
.nano .slider { background: #111; }

body {
    /* Override bootstrap properties */
    /* background-color: #494E6B !important; */
    background-image: url(../image/dark_embroidery.png);
    border: 0 !important;
}

.box{
  box-model: border-box;
  border: 5px solid transparent;
  background-clip:padding-box;
}

#header{
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 15px;
    color: #fff;
}

#homeContent {
    display: none;
}

#navToDoList > li > a {   
    color: #C6B495;
    font-weight: 600;
    font-size: 1.5em;
}

#nameToDoList {
    height: 3rem;
}

.actionTodo {
    font-weight: 600;
}

.completed {
    color: green;
}

.inProgress {
    color: #3B3B3B;
}

.pending {
    color: #FFDD00;
}

.task-list{ 
    background-color: #CDCDCD;
    min-height: 240px;
    border-radius: 10px;
    padding-bottom: 15px;
}

.task-list input, .task-list textarea{
    width: 100%;    
}

.task-list input{
    height: 30px;
}

.todo-task{
    border-radius: 5px;
    background-color: #fff;    
    margin: 5px;
    padding: 5px;
    z-index: 99;
    position: relative;
}

.todo-task > .task-header{
    font-weight: bold;
}

.todo-task > .task-date{
    font-size: small;
    font-style: italic;
}

.todo-task > .task-description{
    font-size: smaller;
}

.todo-task > p {
    margin-bottom: .2rem;
}

.todo-list-content {
    position: relative;
}

.toDoListIcon {
   color: #C6B495; 
}

.tab-content {
    margin-top: 5rem;
}

button.deleteTodo {       
    position: absolute;
    top: 10px;
    right: 10px;
}

button.editTodo {
    position: absolute;
    top: 10px;
    right: 45px;
}

button.deleteTodoList {
    position: absolute;
    top: -40px;
    right: 15px;
}

button.saveTodo {
    width: 100%;
    margin-top: .5rem;
}


form.todo-edit > input {
    margin: .5rem 0;
}

/* override bootstrap default properties */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #C6B495;
    border-color: #C6B495;    
}

.btn-primary:hover {
    background-color: #978354;
    border-color: #C6B495; 
}